[submodule "themes/Tranquilpeak"]
	path = themes/Tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
