<!-- Begin Comments
================================================== -->
{{ if not .Params.noComment }}
<div class="container">
    <div id="comments" class="row justify-content-center mb-5">
        <div class="col-md-8"> 
            {{ if .Site.DisqusShortname }}
                {{ template "_internal/disqus.html" . }}
            {{ end }}
            {{ if .Site.Params.CusdisId }}
                <div id="cusdis_thread"
                    data-host="https://cusdis.com"
                    data-app-id="{{ .Site.Params.CusdisId }}"
                    data-page-id="{{ .File.UniqueID }}"
                    data-page-url="{{ .Permalink }}"
                    data-page-title="{{ .Title }}">
                </div>
                <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
            {{ end }}
            {{ if .Site.Params.ChirpyDomain }}
            <input type="button" 
            onclick="chirpyloader()" 
            value="Load comments" 
            id="load-comments">
            
            <script language="JavaScript">
            function chirpyloader()
            {
               var head= document.getElementsByTagName('head')[0];
               var script= document.createElement('script');
               script.type= 'text/javascript';
               script.src= 'https://chirpy.dev/bootstrap/comment.js';
               script.dataset.chirpyDomain="{{ .Site.Params.ChirpyDomain }}"
               head.appendChild(script);
               document.getElementById("load-comments").style.display = 'none';
            
            }
            </script>
            
            <div data-chirpy-comment="true"></div>
            {{ end }}
            </div>
    </div>
</div>
{{ end }}
<!--End Comments
================================================== -->